__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/

*.env

output_transcripts.jsonl

.DS_Store
Thumbs.db

.github/
scraping_test
verbaLingo_agent
dataset
.claude
garbage
notes
manticore_cli
.GEMINI.md
Caddyfile

# Loguru log files
logs/